@use "./variables" as *;
@use "./mixins" as *;
@use "./typography" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "NunitoSans";
}

a {
  text-decoration: none;
  color: $primary-white;
}

.header {
  background-color: $primary-black;

  @include tablet {
    @include flex;
    gap: 2.25rem;
  }

  @include desktop {
    padding-left: 5rem;
  }

  &__link {
    @include flex(center, center);
    padding: 1rem;

    @include tablet {
      padding: 1.5rem 0 1.5rem 2.25rem;
    }

    @include desktop {
      padding: 2.25rem 0 2.25rem;
    }
  }

  &__logo {
    max-height: 1.25rem;
    max-width: 7.5rem;
  }
}

.navbar {
  &__list {
    list-style: none;
    @include body-copy;
    @include flex(space-around, stretch);
  }

  &__link {
    @include flex(center, center);
    height: 2.25rem;
    width: 50%;

    &--underlined {
      width: 100%;
      @include hover;
    }

    @include tablet {
      margin: 2.5rem 0.625rem 0 2.25rem;
      padding-bottom: 2.25rem;
      border-bottom: 0.125rem solid transparent;
    }

    @include desktop {
      margin: 56px 0.625rem 0 2.5rem;
      padding-bottom: 56px;
    }

    &--hover {
      color: $secondary-grey;
    }
  }
}

.footer {
  background-color: $primary-black;
  color: $primary-white;
  @include footer-copy;

  @include tablet {
    @include flex;
    flex-direction: column;
    padding: 2.25rem 2.25rem 0;
  }

  @include desktop {
    padding: 3rem 5rem 2.25rem;
  }

  &__title {
    @include section-head;
    padding: 1.5rem 1rem;

    @include tablet {
      padding: 1.5rem 0rem;
    }
  }

  &__contact {
    @include tablet {
      @include flex(flex-start, center);
    }
  }

  &__spacer {
    @include tablet {
      flex-grow: 1;
    }
  }

  &__aside {
    display: none;

    @include tablet {
      @include flex(center, flex-end);
    }
  }

  &__mgmts {
    @include tablet {
      @include flex;
    }

    @include desktop {
      @include flex(space-between);
      width: 65%;
    }
  }

  &__logo {
    margin-top: 1.5rem;
    padding: 1rem 1rem 0;

    &--hidden {
      padding: 0;
    }

    @include tablet {
      display: none;
    }
  }

  &__copyright {
    font-size: 0.6875rem;
    padding: 1rem;

    @include tablet {
      font-size: 0.875rem;
      padding: 2.25rem 0;
    }
  }
}

.social {
  width: 10rem;
  padding-left: 1rem;
  @include flex(space-between, center);

  @include tablet {
    width: 8rem;
  }
}

.mgmt {
  &__name {
    font-weight: 700;
    padding: 1.5rem 1rem 1rem;

    @include tablet {
      padding: 1.5rem 1.5rem 1.5rem 0;
    }
  }

  &__address,
  &__agent {
    padding-left: 1rem;

    @include tablet {
      padding-left: 0rem;
    }
  }

  &__city,
  &__country {
    padding: 0 1rem 1rem;

    @include tablet {
      padding: 0 1.5rem 1.5rem 0;
    }
  }

  &__email {
    padding-left: 1rem;

    @include tablet {
      padding-left: 0;
    }
  }
}

.button {
  @include labelbutton;
  font-size:13px;
  height: 40px;
  width: 100%;
  margin-bottom: 16px;
  padding: 0 32px;
  border-radius: 4px;
  background-color: $primary-black;
  color: $primary-white;
  @include flex(center, center);
  text-transform: uppercase;

  @include tablet {
    width: 150px;
    margin: 0;
    padding: 0;
  }

  &:hover {
    background-color: $secondary-black;
  }
}
