@use "./variables" as *;
@use "./mixins" as *;
@use "./typography" as *;


*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

a{
    text-decoration:none; 
    color:$primary-white;
    padding:16px;
}

.footer{
    @include footer-copy;

}
