@font-face {
    font-family: "NunitoSans";
    src:url("../../assets/Font/NunitoSans-Bold.woff") format("woff"), 
    url("../../assets/font/alternative/NunitoSans-Bold.woff2") format("woff2");
    font-weight: 700;
  }

@font-face{
    font-family:"NunitoSans";
    src: url("../../assets/Font/NunitoSans-Medium.woff") format("woff"), 
    url("../../assets/font/alternative/NunitoSans-Medium.woff2") format("woff2");
    font-weight:500;
}

@font-face{
    font-family:"NunitoSans";
    src:url("../../assets/Font/NunitoSans-Regular.woff") format("woff"),
    url("../../assets/font/alternative/NunitoSans-Regular.woff2") format("woff2");
    font-weight:400;
}
  