@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/global" as *;

.hero {
  background: {
    image: linear-gradient(to top, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
      url("../assets/images/hero-bio.jpg");
    position: center;
    size: cover;
    repeat: no-repeat;
  }
  height: 65vw;
  width: 100%;

  &__title {
    @include flex(flex-start, center);
    @include page-head;
    height: 65vw;
    color: $primary-white;

    @include desktop {
      padding-left: 5rem;
    }
  }
}

.intro {
  color: $primary-black;

  &__title {
    @include section-head;
    padding: 1.5rem 1rem;

    @include tablet {
      padding: 3rem 2.25rem 2.25rem;
    }

    @include desktop {
      padding: 3rem 5rem 2.25rem;
    }
  }

  &__paragraph {
    padding: 0 1rem;

    @include tablet {
      padding: 0 6.25rem;
    }

    @include desktop {
      padding: 0 10.625rem;
    }
  }

  &__image {
    width: 100%;
  }

  &__quote {
    @include subheader;
    font-weight: 700;
    padding: 0.5rem 0;

    @include tablet {
      padding-top: 1.5rem;
    }
    @include desktop {
      width: 83%;
    }
  }

  &__credit {
    @include body-copy;
    font-weight: 700;
    padding-bottom: 1.5rem;

    @include tablet {
      padding-bottom: 2.25rem;
    }
  }
}

.bio {
  color: $primary-black;

  &__title {
    @include subheader;
    font-weight: 700;
  }

  &__descriptions {
    @include tablet {
      @include flex(space-evenly, center);
      gap: 1.25rem;
    }
  }

  &__description {
    @include body-copy;
    padding: 1rem 0;
  }
}

.photo {
  background-color: $secondary-white;

  &__title {
    color: $primary-black;
    @include section-head;
    padding: 1.5rem 1rem;

    @include tablet {
      padding: 3rem 2.25rem 2.25rem;
    }

    @include desktop {
      padding: 3rem 5rem 2.25rem;
    }
  }

  &__images {
    @include tablet {
      @include flex(space-evenly, center);
      flex-wrap: wrap;
      gap: 0.5rem;
      padding: 0 1.5rem 2.25rem;
    }

    @include desktop {
      padding: 0 3.5rem 2.25rem;
      gap: 1rem;
    }
  }

  &__image {
    filter: grayscale(100%);
    width: 100%;
    padding: 0 1rem 1rem;

    &:hover {
      filter: grayscale(0%);
    }

    @include tablet {
      width: 30%;
      padding: 0 0 0.5rem;
    }
  }
}

.form {
  @include body-copy;
  color: $primary-black;
  padding: 1rem 1rem 0;

  @include tablet {
    padding: 0;
  }

  &__title {
    @include section-head;
    padding-bottom: 1rem;

    @include tablet {
      padding: 3rem 2.25rem 2.25rem;
    }

    @include desktop {
      padding: 3rem 5rem 2.25rem;
    }
  }

  &__container {
    @include flex(space-between);
    gap: 1rem;
    padding-bottom: 1rem;
    border-bottom: 0.0625rem solid $secondary-grey;

    @include tablet {
      margin: 0 6.25rem;
      padding-bottom: 1.5rem;
    }

    @include desktop {
      margin: 0 21.875rem;
    }
  }

  &__image,
  .comment__image {
    border-radius: 50%;
    height: 2.25rem;
    aspect-ratio: 1;
    object-fit: cover;

    @include tablet {
      height: 3rem;
      aspect-ratio: 1;
    }
  }

  &__image {
    margin-top: 1.5rem;
  }

  &__fields {
    @include flex(flex-start, stretch, column);
    flex: 1;
  }

  &__field {
    @include labelbutton;
    text-transform: uppercase;
    color: $primary-silver;
    margin-bottom: 0.25rem;
  }

  &__name,
  &__comment {
    border-style: none;
    border: 0.0625rem solid $secondary-grey;
    background-color: $secondary-white;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    padding: 0.75rem;

    @include tablet {
      padding: 1rem;
    }

    &:focus {
      outline: none;
      border: 0.0625rem solid $primary-black;
    }

    &::placeholder {
      color: $primary-black;
    }
  }

  &__name {
    height: 2.25rem;

    @include tablet {
      height: 3rem;
    }
  }

  &__comment {
    resize: none;
    height: 5rem;
  }

  &__button {
    @include tablet {
      @include flex(flex-end);
    }
  }
}

.comment {
  @include body-copy;
  color: $primary-black;
  margin-bottom: 1rem;

  &__image {
    background-color: $secondary-grey;
  }

  &__row {
    display: flex;
    gap: 1rem;
    border-bottom: 0.0625rem solid $secondary-grey;
    padding: 1rem 0;

    @include tablet {
      margin: 0 6.25rem;
    }

    @include desktop {
      margin: 0 21.875rem;
      padding-bottom: 2.25rem;
    }
  }

  &__container {
    flex-direction:column; 
    flex:1; 
  }

  &__item {
    @include flex(space-between);
    padding-bottom: 0.25rem;
  }

  &__name {
    font-weight: 700;
  }

  &__date {
    color: $primary-silver;
  }

  &__actions{
    @include flex (flex-end);

  }

}

.error {
  border: 0.0625rem solid #d22d2d;
}
