@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/global" as *;

.header{
    background-color:$primary-black;
    width:100vw;

    &__link{
        @include flex (center, center);
        padding-bottom:0;

    }

    &__logo{
        max-height:1.25rem;
        max-width:7.5rem;
    }
}

.hero{
    background-image:linear-gradient(to top, rgba(50,50,50,0.5), rgba(50,50,50,0.5)), url("../assets/images/hero-bio.jpg");
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat; 
    height:65vw;
    width:100vw;

    &__title{
        @include flex (flex-start, center);
        @include page-head;
        height:65vw;;
        color:$primary-white;
    }
}

.intro{

    &__title{
        @include section-head;
    }

    &__image{
        width:100vw;
        padding:0 16px 16px;
        @include tablet{
            padding: 0 36px;
        }
    }
    
    &__quote{
        @include subheader;  
        font-weight: 700;
        padding: 0px 16px;
            @include tablet{
                margin-left:56px;
                margin-right:34px;
                padding-bottom:0px;
                padding-right:0px;
            }
    }
    &__credit{
        @include body-copy;
        font-weight:700;
            @include tablet{
                margin-left: 56px;
                padding-left:36px;
            }

    }
}

.bio{
    &__title{
        @include subheader;
        padding: 0 16px;
        @include tablet{
            margin-left: 56px;

        }
    }

    &__descriptions{
        @include tablet{
            @include flex (space-evenly,center);
            gap:20px;
            padding:0 36px 36px;
            margin-left: 56px;
            margin-right:56px;
        }
    }

    &__description{
        @include body-copy;

        @include tablet{
            padding:0;
        }
    }
}


.photo{
    background-color: $secondary-white;

    &__title{
        @include section-head;
    }

    &__images {

        @include tablet{
            @include flex(space-evenly,center);
            flex-wrap:wrap;
            gap:8px;
            padding:0 24px 36px;
        }
    }

    &__image{
        filter: grayscale(100%);
        width:100vw;
        padding:0 16px 16px;

            &:hover{
            filter: grayscale(0%);
            }
        
            @include tablet{
                width:30%;
                padding:0 0 8px;
            }
        }
}

.footer{
    background-color:$primary-black;
    color:$primary-white;
    padding:0;
    @include footer-copy;
    @include tablet{
        padding:0;
        position:relative;
    }


    &__title{
        @include section-head;
    }

    &__contact{
        @include tablet{
            @include flex (flex-start,baseline);
        }
    }

    &__mgmts{

        @include tablet{
            @include flex (flex-start,stretch);
        }
    }

    &__logo{
        margin-top:10px;
        padding:16px 16px 0 16px;
        @include tablet{
            position:absolute;
            bottom:305px;
            left:600px;
        }
    }

    &__copyright{
        font-size:11px;
        @include tablet{
            @include footer-copy;
            padding:36px;
        }
    }
}

.mgmt{
    padding-bottom: 16px; 
    @include tablet{
        padding-left:36px;
        padding-bottom:36px;
    }


    &__name{
        font-weight:700;
        @include tablet{
            padding-left:0;
        }
    }

    &__address, &__agent{
        padding: 0 16px;
        @include tablet{
            padding-left:0;
        }
    }

    &__city, &__country{
        padding-top:0;
        @include tablet{
            padding-left:0;
        }
    }

    &__email{
        @include tablet{
            padding-left:0;
        }
    }

}


.social{
    width:50%;
    @include flex (space-between,center);

    @include tablet{
        padding-left:0;
        width:15%;
        @include flex (space-between, center);
        }
    }
