@use "../styles/partials/variables" as *;
@use "../styles/partials/mixins" as *;
@use "../styles/partials/typography" as *;
@use "../styles/partials/global" as *;

.hero {
  background: {
    image: linear-gradient(to top, rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
      url("../../assets/images/hero-shows.jpg");
    position: center;
    size: cover;
    repeat: no-repeat;
  }
  height: 80vw;
  width: 100%;
  display:flex;
  flex-direction:column;
  align-items:center;

  &__sub {
    @include subheader;
    color: $primary-white;
    padding: 1.5rem 1rem 0;
    @include tablet {
      padding: 2.25rem;
    }
    @include desktop {
      padding: 2.25rem 5rem;
    }
  }

  &__title {
    @include page-head;
    color: $primary-white;
    width:90%;

    @include tablet{
      padding: 36px;
    }
    @include desktop {
      padding-left: 5rem;
    }
  }
}

iframe{
  height: 50%;

  @include tablet{
   height:fit-content; 
   display:flex;
   justify-content: flex-start;
   align-items:flex-start; 

  }

}

.show{
  color:$primary-black;
  @include body-copy; 
  padding: 24px 16px 16px;

  @include tablet{
    padding: 48px 36px 36px;
  }

  &__title{
    @include section-head; 
  }

  &__headers{

    @include tablet{
      display:flex; 
      justify-content:flex-start; 
      align-items:baseline; 
      text-transform:uppercase;
      width:70%;
    }
  }
  &__date , &__venue , &__location{
    display:none; 
    
    @include tablet{    
      display:flex; 
      color: $primary-silver;
      padding: 36px 0; 
      flex:1;


    }
  }

  &__item {
      &:hover{
        background-color:$secondary-white;
      }
      &:active{
        background-color: $primary-silver;
      }
      &--active{
        background-color: $primary-silver;
      }

      @include tablet{
        display:flex;
        justify-content:flex-start; 
        align-content:center;
      }
    }

  &__spacer{
    display:flex;
    flex:1; 
  }

   &__header{
    color:$primary-silver; 
    padding-top:16px;
    text-transform:uppercase;

    @include tablet{
      display:none; 
    }
   }

   &__info{
    padding: 5px 0; 
   }

   &__info--bold{
    font-weight:700; 
    padding:5px 0;

   }
}

